.header {
  background-color: #3b5e56;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-list a:hover {
  text-decoration: underline;
}

img {
  border-radius: 50%;
}
